.rect{
    border: 2px solid #a64ceb;
    left: -1000px;
    position: absolute;
    top: -1000px;
    pointer-events: none;
  }
#overlay {
	position: absolute;
	top: 0px;
    left:0px;
    pointer-events:none;
    background: transparent;
	}
#user_image {
	position: relative;
    padding:0;
    margin:0;
    left:0;
}
#image_container {
	position : relative;
	width : auto;
	height : auto;
    text-align: center;
	/*margin : 0px auto;*/
}
.in-avatar-preview-area{
    height:auto !important;
    min-height:300px
}
#convergence{
    padding: 20px;
    background: #ff0000;
    text-align: center;
    display: none;
    color:#777;
}
.webCamImage{
    text-align:center;
    position: relative;
    max-height: 340px;
}
.camera{
    position: relative;
    z-index:10;
}
#startbutton{
    position:absolute;
    top:200px;
    left:325px;
    font-size: 10px;
    padding:5px 10px;
    background-color: #009900;
    cursor: pointer;
    color:#fff;
    border-radius: 10px;
}
.output{
    position: relative;
    display:none;
}
.webaction{
    display: block;
    clear:both;
    padding: 10px;
    border: 1px solid #555;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
