<div class="content-section centralize">
    <img src="../images/like_no_other_people.png"/>
    <div class="text-limit">
    <h4>Show the world you're like no other</h4>
    Win awesome prices and stand a chance to have your image featured on an Indomie pack in three easy steps</div>
</div>
<div class="content-section">
   <div class="content-grid">
        <div class="tri-column"><div class="in-card"><img src="../images/step1.png"><h4>Create Account</h4>Start of by create a new account with email or connecting with facebook</div></div>
        <div class="tri-column"><div class="in-card"><img src="../images/step2.png"><h4>Build Custom Image</h4>Create a unique customised image that represents your awesomeness</div></div>
        <div class="tri-column"><div class="in-card"><img src="../images/step3.png"><h4>Share with Friends</h4>Share your awesomness with the world and invite friends to vote for you.</div></div>        
    </div>
</div>
<div class="content-section centralize">
    <a class="go-button" ng-href="#/create">Start Now</a>
</div>


